/* FAQ'S PAGE SECTION */
.faq-page-container {
    padding: 150px 50px 150px 50px !important;
}
.faq-page-container h1 {
    font-family: Gilroy-Regular !important;
    font-size: 90px;
}
@media only screen and (max-width: 767px) {
    .faq-page-container {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
@media only screen and (max-width: 424px) {
    .faq-page-container h1 {
        font-size: 50px;
    }
}

/* FREQUENTLY QUESTIONS SECTION */
.frequently-asked-section {
    background-color: #0c93ea !important; 
}
.question {
    background-color: #0c93ea !important;
}